*.pdb
Build/
Intermediate/
Saved/
Plugins/CreaturePlugin/Intermediate
Plugins/CreaturePlugin/Source/CreaturePlugin/CreaturePlugin.Build.cs
ProjectC.opensdf
ProjectC.sln
ProjectC.sdf
ProjectC.v12.suo
*.exp
Binaries/Win64/ProjectC-Win64-DebugGame.lib
Binaries/Win64/ProjectC-Win64-Shipping.lib
Binaries/Win64/ProjectC.lib