*.pdb
Build/
Intermediate/
Saved/
Plugins/CreaturePlugin/Intermediate
Plugins/CreaturePlugin/Source/CreaturePlugin/CreaturePlugin.Build.cs
ProjectC.opensdf
ProjectC.sln
ProjectC.sdf
ProjectC.v12.suo
Plugins/CreaturePlugin/Source/CreaturePlugin/CreaturePlugin.Build.cs
Plugins/CreaturePlugin/Source/CreaturePlugin/CreaturePlugin.Build.cs
Plugins/CreaturePlugin/Source/CreaturePlugin/CreaturePlugin.Build.cs